$border-color:#e5e5e5;
$border:1px solid $border-color;
$border-radius:0.5rem;
$light-green:#ddffdd;
$green:#98e698;
$dark-green:#62b162;
$inactive:#cacaca;
$error:#f02b2b;
$blue:#8f90f0;
$dark-blue:#6e70f1;